<div id="sg-omni" class="sg-omni-int modal-parent">
  <div class="modal-backdrop"></div>
  <div id="sg-omni-custom" class="modal-base">
    <div class="modal-header">
      <span class="modal-title">
        Title
      </span>
      <div class="modal-close">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>
      </div>
    </div>
    <div class="modal-container">
      <div class="modal-content" />
    </div>
  </div>
</div>