<div class="sg-field">
  <div class="sg-text-field">
    <input id={{id}} placeholder=" " type="text" >
    <label>{{t label}}</label>
  </div>
  <span class="sg-field-error sg-hidden {{id}}-error"></span>
</div>