.rr-api-product-options {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-top: -40px;

  @include xs {
    display: none;
  }

  .rr-api-product-options-headline {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 16px;
    padding-right: 28px;

    @include xs {
      display: none;
    }
  }

  .rr-api-product-options-option-name {
    font-weight: bold;
    margin-bottom: 8px;
    &:not(:first-child) {
      padding-top: 24px;
    }
  }

  .rr-api-product-options-option-values {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px 20px;
  }

  .rr-api-product-options-option-radio {
    align-items: center;

    input[type=radio] {
      display: none;

      &:checked ~ label {
        background-color: var(--rr-color-secondary, var(--rr-color-primary));
        color: var(--rr-color-secondary-contrast, var(--rr-color-primary-contrast));
      }

      &:disabled ~ label {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    label {
      display: flex;
      border-radius: 5px;
      color: var(--rr-color-secondary, var(--rr-color-primary));
      border: 1px solid var(--rr-color-button-background-disabled);
      padding: 10px;
      justify-content: center;
      min-width: 25px;
      cursor: pointer;
      user-select: none;
    }
  }
}

.rr-api-product-options-select {
  display: none;
  gap: 16px;

  @include xs {
    display: flex;
    flex-direction: column;
  }

  .rr-api-product-options-headline {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
  }

  .rr-select-field {
    select {
      width: 100%;
    }
  }
}

