#rr-omni.rr-omni-int, #rr-inventory, #rr-omni-reserve-button  {
  --color-primary: #000;
  --color-primary-contrast: #fff;
  --color-text: #000;
  --color-text-medium-emphasis: #666666;
  --color-text-low-emphasis: #9e9e9e;
  --color-link: #3c9bb5;
  --color-button-disabled: #7f7f7f;
  --color-button-background-disabled: #E0E0E0;
  --color-state-alarm : #b00020;
  --color-state-warning: #f19c45;
  --color-state-success: #32ac5c;
  --color-input: var(--color-text);
  --font-family: "Roboto", "Helvetica", "Arial", sans-serif
}

#rr-omni.rr-omni-int, #rr-inventory {
  * {
    font-family: var(--font-family);
    color: var(--color-text);
  }



  @import "breakpoints";
  @import "mixins";
  @import "reset";
  @import "modal";
  @import "form";
  @import "storeList";
  @import "reserve";
  @import "success";
  @import "loading";
}

#rr-omni.rr-omni-int {
  $flagsImagePath: '../static/';
  @import "~intl-tel-input/src/css/intlTelInput";
}

@import "liveInventory";

.rr-modal-backdrop-body-fix {
  overflow: hidden;
}

#rr-omni-reserve-button {
  background: var(--color-primary);
  color: var(--color-primary-contrast);
}
