.sg-text-field {
  position: relative;
  height: 44px;

  label {
    position: absolute;
    font-size: 1rem;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: gray;
    padding: 0 0.3rem;
    margin: 0 0.5rem;
    transition: .1s ease-out;
    transform-origin: left top;
    pointer-events: none;
  }
  input {
    font-size: 0.9rem;
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0.8rem 0.7rem;
    color: #000;
    transition: 0.1s ease-out;
  }
  input:focus {
    border-color: rgb(var(--color-primary));
  }
  input:focus + label {
    color: rgb(var(--color-primary));
    top: 0;
    transform: translateY(-50%) scale(.9);
  }
  input:not(:placeholder-shown) + label {
    top: 0;
    transform: translateY(-50%) scale(.9);
  }
}

.sg-field {
  display: flex;
  flex-direction: column;
  .sg-field-error {
    margin-top: 4px;
    color: rgb(var(--color-state-alarm));
    font-size: 0.85rem;
    &.sg-hidden {
      display: hidden;
    }
  }
}

.sg-select-field {
  position: relative;

  label {
    position: absolute;
    font-size: 1rem;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: gray;
    padding: 0 0.3rem;
    margin: 0 0.5rem;
    transition: .1s ease-out;
    transform-origin: left top;
    pointer-events: none;
  }
  select {
    font-size: 1rem;
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0.8rem 0.7rem;
    color: gray;
    transition: 0.1s ease-out;
  }
  select:focus {
    border-color: rgb(var(--color-primary));
  }
  select:focus + label {
    color: rgb(var(--color-primary));
    top: 0;
    transform: translateY(-50%) scale(.9);
  }
  select:not(:placeholder-shown) + label {
    top: 0;
    transform: translateY(-50%) scale(.9);
  }
}

.sg-button {
  outline: none;
  border: none;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  padding: 0 16px;
  min-width: 48px;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: #fff;
  background-color: rgb(var(--color-primary, 33, 150, 243));
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s;

  // Icon button
  svg {
    fill: #fff;
    width: 24px;
    height: 24px;
    margin-top: 5px;
  }

  &::-moz-focus-inner {
    border: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    opacity: 0;
    transition: opacity 0.2s;
  }

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    padding: 50%;
    width: 32px; /* Safari */
    height: 32px; /* Safari */
    background-color: #fff;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 1s, transform 0.5s;
  }

  &:hover, &:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  }

  &:hover::before {
    opacity: 0.08;
  }

  &:focus::before {
    opacity: 0.24;
  }

  &:hover:focus::before {
    opacity: 0.3;
  }

  &:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  &:active::after {
    opacity: 0.32;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
  }

  &:disabled {
    color: rgba(var(--color-primary, 0, 0, 0), 0.38);
    background-color: rgba(var(--color-primary, 0, 0, 0), 0.12);
    box-shadow: none;
    cursor: initial;
    &::before {
      opacity: 0;
    }
    &::after {
      opacity: 0;
    }
  }
}

.sg-link {
  color: #3C9BB5;
  text-decoration: underline;
  font-size: 16px;
  outline: none;
  &:active, &:focus {
    outline: none;
  }
}

.sg-radio {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  margin: 0 0 10px;
  line-height: 24px;
  input {
    position: absolute;
    top: 4px;
    left: 0;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
    height: 20px;
    opacity: 0;
    z-index: 0;
  }
  label {
    display: block;
    padding: 0 0 0 24px;
    &:before {
      content: '';
      box-sizing: border-box;
      position: absolute;
      top: 4px;
      left: 0;
      width: 16px;
      height: 16px;
      background-color: transparent;
      border: 2px solid rgba(0, 0, 0 , .54);
      border-radius: 14px;
      z-index: 1;
      transition: border-color 0.28s cubic-bezier(.4, 0, .2, 1);
    }
    &:after {
      box-sizing: border-box;
      content: '';
      position: absolute;
      top: 8px;
      left: 4px;
      width: 8px;
      height: 8px;
      background-color: rgb(var(--color-primary));
      border-radius: 50%;
      z-index: 2;
      transform: scale(0, 0);
      transition: transform 0.28s cubic-bezier(.4, 0, .2, 1);
    }
  }
  input:checked + label {
    &:before {
      border-color: rgb(var(--color-primary));
    }
    &:after {
      transform: scale(1, 1);
    }
  }
}


$md-checkbox-checked-color: rgb(var(--color-primary));
$md-checkbox-border-color: rgba(0, 0, 0, 0.54);
$md-checkbox-border-color-disabled: rgba(0, 0, 0, 0.26);
$md-checkbox-checked-color-disabled: rgba(0, 0, 0, 0.26);
$md-checkbox-margin: 1em 0;
$md-checkbox-size: 1.25em;
$md-checkbox-padding: .25em;
$md-checkbox-border-width: 2px;
$md-checkbox-border-radius: 0.125em;
$md-checkmark-width: 0.125em;
$md-checkmark-color: #fff;
$md-checkbox-label-padding: .75em;

.sg-checkbox {
  font-size: 15px;
  position: relative;
  margin: $md-checkbox-margin;
  text-align: left;

  *, *:before, *:after {
    box-sizing: border-box;
  }

  &.md-checkbox-inline {
    display: inline-block;
  }

  label {
    cursor: pointer;
    display: inline;
    line-height: $md-checkbox-size;
    vertical-align: top;
    clear: both;
    padding-left: 1px;
    &:not(:empty) {
      padding-left: $md-checkbox-label-padding;
    }

    &:before, &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
    }

    &:before {
      // box
      width: $md-checkbox-size;
      height: $md-checkbox-size;
      background: #fff;
      border: $md-checkbox-border-width solid $md-checkbox-border-color;
      border-radius: $md-checkbox-border-radius;
      cursor: pointer;
      transition: background .3s;
    }
  }

  input[type="checkbox"] {
    outline: 0;
    visibility: hidden;
    width: $md-checkbox-size;
    margin: 0;
    display: block;
    float: left;
    font-size: inherit;

    &:checked {
       + label:before{
        background: $md-checkbox-checked-color;
        border:none;
      }
      + label:after {
        $md-checkmark-size: $md-checkbox-size - 2 * $md-checkbox-padding;

        transform: translate($md-checkbox-padding, ($md-checkbox-size / 2) - ($md-checkmark-size / 2.6)) rotate(-45deg);
        width: $md-checkmark-size;
        height: $md-checkmark-size / 2;

        border: $md-checkmark-width solid $md-checkmark-color;
        border-top-style: none;
        border-right-style: none;
      }
    }

    &:disabled {
      + label:before{
        border-color: $md-checkbox-border-color-disabled;
      }
      &:checked {
        + label:before{
          background: $md-checkbox-checked-color-disabled;
        }
      }
    }
  }
}
