@import "breakpoints";
@import "mixins";

.rr-reserve {
  display: flex;
  flex-direction: column;
  height: 100%;

  h3 {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
  }

  h4 {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 8px;

    &.rr-bold {
      font-weight: 600;
    }
  }

  .rr-header {
    position: relative;
  }

  .rr-header-content-container {
    padding: 0 16px 16px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .rr-header-product {
    display: flex;
    flex-direction: row;

    .rr-product-image-wrapper {
      margin-right: 16px;
      height: 100px;
      display: flex;
      justify-content: center;

      img {
        height: 100%;
      }
    }

    &.rr-api-product {
      .rr-product-info {
        width: 230px;
      }

      .rr-product-image-wrapper {
        aspect-ratio: 1;
      }
    }

    .rr-product-info {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .rr-product-info-product-name {
        font-weight: 500;
        line-height: 19px;
      }

      .rr-product-info-options {
        li:not(:last-child) {
          padding-bottom: 8px;
        }
      }

      .rr-product-info-value {
        font-weight: 600;
      }

      span {
        font-size: 16px;
      }
    }
  }

  .rr-divider {
    height: 8px;
    margin-top: -8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
    width: 100%;
    position: relative;
    z-index: 2;
  }

  .rr-content-container {
    flex: 1;
    overflow: auto;
    padding: 24px 16px 16px 16px;

    .rr-store {
      display: flex;
      flex-direction: column;
      padding-bottom: 24px;
      line-height: 19.3px;

      .rr-store-name-row {
        display: flex;
        gap: 8px;
        padding-bottom: 16px;
        flex-wrap: wrap;
      }

      .rr-store-content {
        display: flex;
        gap: 32px;

        @include xs {
          flex-direction: column;
          gap: 16px;
        }

        .rr-store-details {
          width: 300px;
          flex-shrink: 0;

          @include xs {
            width: inherit;
          }
        }

        .rr-store-address-container,
        .rr-phone-number-container {
          padding-bottom: 8px;
        }

        .rr-phone-number-container a {
          text-decoration: none;
        }

        .rr-directions.rr-link {
          font-weight: 500;
        }
      }
    }

    .rr-hidden {
      display: none;
    }

    .rr-form {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .rr-section {
        .rr-form-radio-row {
          display: flex;
          flex-direction: row;
        }

        .rr-form-input-grid {
          display: flex;
          gap: 24px;
          flex-wrap: wrap;
          justify-content: space-between;

          .rr-field {
            display: flex;
            width: 45%;
            flex-grow: 1;
          }

          @include xs {
            flex-direction: column;

            .rr-field {
              width: 100%
            }
          }
        }

        .rr-form-row {
          display: flex;
          flex-direction: row;

          .rr-field {
            flex-grow: 1;
            max-width: 400px;
            width: 50%;

            input {
              width: 100%;
            }
          }

          @include xs {
            flex-direction: column;

            .rr-field {
              max-width: 100%;
              width: initial;
            }
          }
        }
      }

      .rr-legal .rr-link {
        font-weight: 600;
      }

      .rr-footer-text {
        margin-top: 8px;
        margin-bottom: 8px;
        font-size: 15px;
      }
    }
  }
}
