.rr-reserve {
  display: flex;
  flex-direction: column;
  height: 100%;

  .rr-header {
    position: relative;
  }

  .rr-header-product {
    padding: 0 24px;
    display: flex;
    flex-direction: row;

    img {
      width: 72px;
      margin-right: 26px;
    }

    .rr-product-info {
      flex: 1;
      display: flex;
      flex-direction: column;
      span {
        font-size: 15px;
      }
    }
  }

  .rr-divider {
    height: 8px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
    width: 100%;
    margin-top: 12px;
  }

  .rr-store {
    padding: 16px 24px;
    .rr-store-name {
      margin-top: 8px;
      display: flex;
      flex-direction: row;
      font-size: 16px;
      font-weight: bold;
      .rr-store-change {
        font-size: 14;
        font-weight: normal;
        margin-left: 12px;
      }
    }

    .rr-store-detail {
      margin-top: 16px;
      display: flex;
      flex-direction: row;
      font-size: 14px;
      >div:first-child {
        margin-right: 16px;
      }
      .rr-bold {
        font-size: 15px;
        font-weight: bold;
      }
    }
  }
  .rr-hidden {
    display: none;
  }
  .rr-form {
    .rr-section {
      margin-top: 32px;
      >span {
        font-size: 16px;
        font-weight: bold;
      }

      .rr-form-radio-row {
        &:first-child {
          margin-top: 8px;
        }
        display: flex;
        flex-direction: row;
      }

      .rr-form-row {
        margin-top: 16px;
        display: flex;
        flex-direction: row;
        input {
          width: calc(100% - 32px);
        }
        .rr-field, .rr-text-field {
          flex: 1;
          max-width: 400px;
        }
        .rr-field:first-child {
          margin-right: 16px;
        }
      }

      .rr-footer-text {
        margin-top: 8px;
        margin-bottom: 8px;
        font-size: 15px;
      }
    }
  }
}