.rr-store-list {
  display: flex;
  flex-direction: column;
  height: 100%;

  .rr-header {
    position: relative;
  }

  .rr-header-product {
    padding: 0 24px;
    display: flex;
    flex-direction: row;

    .rr-product-image-wrapper {
      margin-right: 24px;

      img {
        width: 72px;
      }
    }

    .rr-product-info {
      display: flex;
      flex-direction: column;
      span {
        font-size: 15px;
      }
    }
  }

  .rr-header-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 6px 24px 16px;
    padding-bottom: 8px;
    flex-wrap: wrap;
    margin: 0 -12px;

    @include xs {
      flex-direction: column;
    }

    .rr-store-list-search-fields,
    .rr-store-list-search-buttons {
      display: flex;
      flex-direction: row;
      padding: 12px 0 0;

      @include xs {
        width: 100%;
      }
    }

    @include xs {
      .rr-select-field,
      .rr-select-field select {
        width: 100%;
      }
    }

    .rr-store-list-search-fields {
      flex-grow: 1;
      margin-right: 24px;
      @include xs {
        margin-right: 0;
      }
    }

    .rr-field,
    .rr-select-field {
      padding: 0 6px;

      select + label {
        left: 12px;
      }

      input {
        width: 100%;
      }
    }

    .rr-field,
    .rr-text-field {
      width: 100%
    }

    .rr-button {
      margin: 0 6px;

      &:first-child {
        flex-grow: 1;
        margin-right: 6px;
      }

      &:last-child {
        margin-left: 6px;
      }
    }
  }

  .rr-divider {
    height: 8px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
    width: 100%;
  }

  .rr-list {
    flex: 1;
    overflow: auto;
    padding: 16px 24px;

    .rr-error {
      font-size: 14px;
      color: rgb(var(--color-state-alarm));
    }

    .rr-store {
      margin-top: 8px;
      margin-bottom: 12px;

      .rr-name-row {
        font-size: 15px;
        font-weight: bold;
        .rr-distance {
          font-weight: normal;
          color: rgba(0, 0, 0, 0.53);
        }
        .rr-available-positive, .rr-available-neutral, .rr-available-negative {
          margin-left: 8px;
        }
        .rr-available-positive {
          color: rgb(var(--color-state-success));
        }
        .rr-available-negative {
          color: rgb(var(--color-state-alarm));
        }
        .rr-available-neutral {
          color: rgb(var(--color-state-warning));
        }
      }

      .rr-detail {
        display: flex;
        flex-direction: row;
        .rr-left {
          flex: 1;
          display: flex;
          margin-top: 8px;
          flex-direction: column;
          .rr-link {
            margin-top: 4px;
          }
        }

        .rr-collapsing {
          margin-top: 12px;
          display: flex;
          flex-direction: row;
          font-size: 14;

          > div:first-child {
            margin-right: 16px;
          }

          &.rr-closed {
            display: none;
          }

          .rr-bold {
            font-weight: bold;
          }
        }
      }
    }
  }

  .rr-hr {
    background-color: rgba($color: #000000, $alpha: 0.04);
    width: 100%;
    height: 1px;
  }
}
