@import "breakpoints";
@import "mixins";

.rr-store-list {
  display: flex;
  flex-direction: column;
  height: 100%;

  h3 {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 16px;
  }

  h4 {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 4px;
  }

  b {
    font-weight: bold;
  }

  .rr-bold {
    font-weight: bold;
  }

  .rr-header {
    position: relative;
  }

  .rr-header-content {
    padding: 0 16px 16px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .rr-header-product {
    display: flex;
    flex-direction: row;

    .rr-product-details {
      display: flex;
      flex-direction: row;

      &.rr-api-product {
        .rr-product-info {
          width: 230px;
        }

        .rr-product-image-wrapper {
          aspect-ratio: 1;
        }
      }

      .rr-product-image-wrapper {
        margin-right: 16px;
        height: 100px;
        display: flex;
        justify-content: center;

        img {
          height: 100%;

          + svg {
            display: none;
          }

          &.rr-image-error {
            display: none;

            + svg {
              display: flex;
              height: 80%;
              width: 80%;
              aspect-ratio: 1;
              align-self: center;
              fill: var(--rr-color-button-background-disabled);
            }
          }
        }
      }

      .rr-product-info {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .rr-product-info-options {
          li:not(:last-child) {
            padding-bottom: 8px;
          }
        }

        .rr-product-info-product-name {
          line-height: 1.25em;
        }

        span {
          font-size: 16px;
        }
      }
    }
  }

  .rr-header-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;

    @include xs {
      flex-direction: column;
      gap: 16px;
    }

    .rr-store-list-search-fields,
    .rr-store-list-search-buttons {
      display: flex;
      flex-direction: row;
      align-items: center;

      @include xs {
        width: 100%;
      }
    }

    .rr-store-list-search-fields {
      gap: 16px;
    }

    .rr-store-list-search-buttons {
      gap: 16px;

      .rr-button-geo {
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }

    @include xs {
      .rr-select-field,
      .rr-select-field select {
        width: 100%;
      }
    }

    .rr-store-list-search-fields {
      flex-grow: 1;
    }

    .rr-field,
    .rr-select-field {
      input {
        width: 100%;
      }
    }

    .rr-field,
    .rr-text-field {
      width: 100%
    }

    .rr-button {
      &:first-child {
        flex-grow: 1;
      }
    }
  }

  .rr-divider {
    height: 8px;
    margin-top: -8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
    width: 100%;
    position: relative;
    z-index: 2;
  }

  .rr-list {
    flex: 1;
    overflow: auto;
    padding: 16px;

    .rr-error {
      font-size: 14px;
      color: var(--rr-color-state-alarm);
    }

    .rr-store {
      padding: 20px 0;
      display: flex;
      gap: 8px;
      flex-direction: column;

      .rr-store-name-row {
        display: flex;
      }

      .rr-store-main-row {
        display: flex;
        justify-content: space-between;
        gap: 16px;

        .rr-store-content {
          display: flex;

          p {
            line-height: 1.25em;
          }

          @include xs {
            flex-wrap: wrap;
            gap: 16px;
          }

          .rr-store-details {
            width: 300px;
            flex-shrink: 0;

            @include xs {
              width: initial;
            }
          }
        }

        .rr-store-address-container,
        .rr-phone-number-container {
          padding-bottom: 8px;
        }

        .rr-phone-number-container .rr-link {
          text-decoration: none;
        }

        .rr-directions.rr-link {
          font-weight: bold;
        }
      }
    }
  }

  .rr-store-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .rr-inventory {
      display: flex;
      flex-direction: column;
      gap: 4px;
      margin-bottom: 16px;

      .rr-inventory-row {
        display: flex;
        gap: 8px;
      }

      .rr-inventory-cell {
        &:first-child {
          width: 15px;
          justify-content: center;
          flex-shrink: 0;
          display: flex;
          flex-direction: column;
        }
      }

      .rr-state-badge {
        width: 15px;
        height: 15px;
        background: #000;
        display: inline-block;
        border-radius: 100%;
      }

      &.rr-available-positive {
        .rr-state-badge  {
          background: var(--rr-color-state-success);
        }

        .rr-inventory-row:first-child {
          color: var(--rr-color-state-success);
        }
      }

      &.rr-available-negative {
        .rr-state-badge {
          background: var(--rr-color-state-alarm);
        }

        .rr-inventory-row:first-child {
          color: var(--rr-color-state-alarm);
        }
      }

      &.rr-available-neutral {
        .rr-state-badge {
          background: var(--rr-color-state-warning);
        }

        .rr-inventory-row:first-child {
          color: var(--rr-color-state-warning);
        }
      }
    }
  }

  .rr-hr {
    background-color: rgba($color: #000000, $alpha: 0.04);
    width: 100%;
    height: 1px;
  }
}
