.sg-store-list {
  display: flex;
  flex-direction: column;
  height: 100%;

  .sg-header-product {
    padding: 0 24px;
    display: flex;
    flex-direction: row;

    img {
      width: 72px;
      margin-right: 26px;
    }

    .sg-product-info {
      display: flex;
      flex-direction: column;
      span {
        font-size: 15px;
      }
    }
  }

  .sg-header-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 24px;
    padding-bottom: 8px;

    .sg-select-field, .sg-text-field, .sg-button:not(:last-child) {
      margin-right: 11px;
    }

    .sg-text-field {
      flex: 1;

      input {
        width: calc(100% - 32px);
      }
    }
  }

  .sg-divider {
    height: 8px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
    width: 100%;
  }

  .sg-list {
    flex: 1;
    overflow: auto;
    padding: 0 24px;
    margin-top: 16px;

    .sg-error {
      font-size: 14px;
      color: rgb(var(--color-state-alarm));
    }

    .sg-store {
      margin-top: 8px;
      margin-bottom: 12px;

      .sg-name-row {
        font-size: 15px;
        font-weight: bold;
        .sg-distance {
          font-weight: normal;
          color: rgba(0, 0, 0, 0.53);
        }
        .sg-available-positive, .sg-available-neutral, .sg-available-negative {
          margin-left: 8px;
        }
        .sg-available-positive {
          color: rgb(var(--color-state-success));
        }
        .sg-available-negative {
          color: rgb(var(--color-state-alarm));
        }
        .sg-available-neutral {
          color: rgb(var(--color-state-warning));
        }
      }

      .sg-detail {
        display: flex;
        flex-direction: row;
        .sg-left {
          flex: 1;
          display: flex;
          margin-top: 8px;
          flex-direction: column;
          .sg-link {
            margin-top: 4px;
          }
        }

        .sg-collapsing {
          margin-top: 12px;
          display: flex;
          flex-direction: row;
          font-size: 14;

          > div:first-child {
            margin-right: 16px;
          }

          &.sg-closed {
            display: none;
          }

          .sg-bold {
            font-weight: bold;
          }
        }
      }
    }
  }

  .sg-hr {
    background-color: rgba($color: #000000, $alpha: 0.04);
    width: 100%;
    height: 1px;
  }
}