<script>
  window.onload = function () {
    // Initialize our script.
    const retailred = window.RetailRedStorefront.create({
      apiKey: "8v4SLSyxR7xq0BSkbOSscO1y",
      apiStage: 'staging',
      unitSystem: 'metric',
      localization: {
        countries: ['de', 'us'],
      },
      inventory: {
        hideNumber: false,
        showExactUntil: 80,
        showLowUntil: 65,
      },
      legal: {
        terms: 'https://google.de',
        privacy: 'https://duckduckgo.com',
      },
      newsletterOptIn: 'enabled',
      useApiProduct: true,
      product: {
        code: 'smoothie-parent',
        quantity: 1,
      },
    });
    window.retailredInstance = retailred;

    retailred.updateConfig(window.customConfig);

    // Whenever application is ready render the reserve button
    retailred.renderReserveButton('#omni-dropin');

    retailred.addEventListener('orderCreated', ({ order }) => {
      console.warn('[DEBUG] Order created', order);
    });
  }
</script>

<%= require('html-loader!./base.html').default %>

<hr />
<div class="docs">
  <%= require('../../README.md').default %>
</div>
