<script>
  window.onload = function () {
    // Initialize our script.
    const retailred = window.RetailRedStorefront.create({
      apiKey: "8v4SLSyxR7xq0BSkbOSscO1y",
      apiStage: 'staging',
      unitSystem: 'metric',
      localization: {
        countries: ['de', 'us'],
        de: {
          'reserve.footerText': 'Custom optional footer text.',
          'liveInventory.footerText': 'Custom optional footer text.',
          'liveInventory.selectProductText': 'Bitte wählen Sie eine Produktvariante aus.'
        },
        en: {
          'reserve.footerText': 'Custom optional footer text.',
          'liveInventory.footerText': 'Custom optional footer text.',
          'liveInventory.selectProductText': 'Please select a product variant.'

        },
      },
      inventory: {
        hideNumber: false,
        showExactUntil: 80,
        showLowUntil: 65,
      },
      legal: {
        terms: 'https://google.de',
        privacy: 'https://google.de',
      },
      customer: {
        code: null,
        firstName: 'René',
        lastName: 'Eichhorn',
        emailAddress: 'rene.eichhorn@shopgate.com',
      },
    });
    window.retailredInstance = retailred;

    // In a later time update with product data.
    retailred.updateConfig({
      product: {
        code: 'acai-bowl',
        name: 'Dark Blue Dress',
        options: [
          {
            code: 'code-color',
            name: 'Color',
            value: {
              code: 'code-color-red',
              name: 'Red'
            }
          },
          {
            code: 'code-size',
            name: 'Size',
            value: {
              code: 'code-size-m',
              name: 'M'
            }
          }
        ],
        quantity: 2,
        imageUrl: 'https://demo.elliselaine.com/pub/media/catalog/product/cache/5e62a3e057e3c5cc5f2bb9763ad693f7/k/l/kleid_dunkelblau_5.jpg',
        price: 34.0,
        currencyCode: 'USD',
        identifiers: {
          sku: 'abc123'
        }
      },
    });

    retailred.updateConfig(window.customConfig);

    setTimeout(() => {
      retailred.updateConfig({
        product: { quantity: 1 },
      });
    }, 2000);

    // Whenever application is ready render the reserve button
    const urlParams = new URLSearchParams(window.location.search);
    const variant = urlParams.get('variant') || 'modal';
    retailred.renderLiveInventory('#omni-dropin', { variant });

    // Attach event listener
    retailred.addEventListener('locationChanged', ({ location }) => {
      console.warn(`[DEBUG] Location was changed to '${location.name}'`);
    });

    retailred.addEventListener('orderCreated', ({ order }) => {
      console.warn('[DEBUG] Order created', order);
    });
  }
</script>

<%= require('html-loader!./base.html').default %>

<hr />
<div class="docs">
  <%= require('../../README.md').default %>
</div>

