<script>
  window.onload = function () {
    // Initialize our script.
    const retailred = window.RetailRedStorefront.create({
      apiKey: "8v4SLSyxR7xq0BSkbOSscO1y",
      apiStage: 'staging',
      unitSystem: 'metric',
      localization: {
        countries: ['de', 'us'],
      },
      inventory: {
        hideNumber: false,
        showExactUntil: 80,
        showLowUntil: 65,
      },
      legal: {
        terms: 'https://google.de',
        privacy: 'https://duckduckgo.com',
      },
      newsletterOptIn: 'enabled',
    });
    window.retailredInstance = retailred;

    // In a later time update with product data.
    retailred.updateConfig({
      product: {
        code: 'acai-bowl',
        name: 'Dark Blue Dress',
        options: [
          {
            code: 'code-color',
            name: 'Color',
            value: {
              code: 'code-color-red',
              name: 'Red'
            }
          },
          {
            code: 'code-size',
            name: 'Size',
            value: {
              code: 'code-size-m',
              name: 'M'
            }
          }
        ],
        quantity: 2,
        imageUrl: 'https://images.unsplash.com/photo-1495385794356-15371f348c31?q=80&w=1870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
        price: 34.25,
        currencyCode: 'USD',
      },
    });
    retailred.updateConfig(window.customConfig);

    setTimeout(() => {
      retailred.updateConfig({
        product: { quantity: 1 },
      });
    }, 2000);

    // Whenever application is ready render the reserve button
    retailred.renderReserveButton('#omni-dropin');

    retailred.addEventListener('orderCreated', ({ order }) => {
      console.warn('[DEBUG] Order created', order);
    });
  }
</script>

<%= require('html-loader!./base.html').default %>

<hr />
<div class="docs">
  <%= require('../../README.md').default %>
</div>
